.navbar-vertical.navbar-expand-xs .navbar-collapse {
    display: block !important;
    overflow: auto !important;
    height: calc(100vh - 100px) !important;
}


.table.dataTable tbody tr {
    border-bottom: 2px solid rgb(220, 217, 217) !important;
}

#button{
    display:block;
    margin:20px auto;
    padding:10px 30px;
    background-color:#eee;
    border:solid #ccc 1px;
    cursor: pointer;
}
#overlay{
    position: fixed;
    top: 0;
    z-index: 2000;
    width: 100%;
    height:100%;
    display: none;
    background: rgba(0,0,0,0.6);
}
.cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner {
    width: 40px;
    height: 40px;
    border: 4px #ddd solid;
    border-top: 4px #2e93e6 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
    100% {
        transform: rotate(360deg);
    }
}

.is-hide{
    display:none;
}
